div[data-fieldtype="Attach"] .btn,
div[data-fieldtype="Attach Image"] .btn {
    background-color: rgb(244, 245, 246) !important;
}

body[data-route="query-report/Employee Attendance Sheet"] .empty-table .dt-scrollable {
    height     : initial !important;
    min-height : initial !important;
}
/* end fix tall tables when empty */

/* begin dynamicRowHeight fix */
body[data-route="query-report/Employee Attendance Sheet"] .dt-row {
    position : relative !important;
    top      : auto !important;
    height   : initial !important;
}
body[data-route="query-report/Employee Attendance Sheet"] .dt-cell {
    height : initial !important;
}
/* end dynamicRowHeight fix */
.dt-cell__content {
    text-align: left !important;
}
.dt-instance-1 .dt-cell,
.datatable .dt-row{
    height: 45px !important;
}
.datatable .dt-header .dt-cell--header .dt-cell__content{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.datatable-table-2cols-6rows {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
}
.datatable-table-2cols-6rows > div {
    padding: 2px;
    text-align: center;
}
.datatable-table-2cols-6rows > div{
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.datatable-table-2cols-6rows > div:nth-child(odd){
    border-left: 1px solid #ccc;
}
.datatable-table-2cols-6rows > div:nth-child(11),
.datatable-table-2cols-6rows > div:nth-child(12){
    border-bottom: 1px solid #ccc;
}

.datatable .dt-scrollable{
    height: calc(100vh - 350px) !important;
}

/*
Hide Journal Entry in Payroll
*/
div[id="page-Payroll Entry"] div[data-doctype="Journal Entry"]{
    display: none !important;
}

#page-Users\ Permission\ Manager > div.container.page-body > div.page-wrapper > div > div.row.layout-main > div > div.layout-main-section > div:nth-child(2) > div > div > div.form-page > div > div.section-body > div > form > div > div.small.form-clickable-section.grid-footer{display: none !important;}
#page-Users\ Permission\ Manager > div.container.page-body > div.page-wrapper > div > div.row.layout-main > div > div.layout-main-section > div:nth-child(2) > div > div > div.form-page > div:nth-child(16) > div.section-body > div > form > div > div.small.form-clickable-section.grid-footer{display: block !important;}
#page-Loan > div.container.page-body > div.page-wrapper div.form-dashboard.visible-section > div.form-dashboard-section.form-links > div.section-body > div > div > div > div:nth-child(1) > div:nth-child(2),
#page-Loan > div.container.page-body > div.page-wrapper div.form-dashboard.visible-section > div.form-dashboard-section.form-links > div.section-body > div > div > div > div:nth-child(1) > div:nth-child(3),
#page-Loan > div.container.page-body > div.page-wrapper div.form-dashboard.visible-section > div.form-dashboard-section.form-links > div.section-body > div > div > div > div:nth-child(2) > div:nth-child(3),
#page-Loan > div.container.page-body > div.page-wrapper div.form-dashboard.visible-section > div.form-dashboard-section.form-links > div.section-body > div > div > div > div:nth-child(2) > div:nth-child(5){display: none !important;}